<h1>Carrito</h1>
{{#if cart}}
    <h2>ID del Carrito: {{cart._id}}</h2>
    <ul>
        {{#each cart.products}}
            <li>
                Producto: {{this.product.title}}<br>
                Description: {{this.product.description}}<br>  
                Cantidad: {{this.quantity}}<br>
            
            </li>
        {{/each}}
    </ul>
{{else}}
    <p>No hay productos en el carrito.</p>
{{/if}}
