<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos con handlebars</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <main>
        {{!-- Navbar --}}
        <nav class="navbar navbar-expand-lg navbar-light custom-navbar py-3">
            <a class="navbar-brand text-light h1 ml-auto" href="#">
                <img src="/img/bici.png" alt="Bicicoder" class="navbar-logo">
                BiciCoder
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>

        {{!-- Main --}}
        <div class="container mt-5">
            <h1 class="text-center text-light">Productos renderizados con express handlebars</h1>
        </div>

        <div class="container mt-5 form-container">
            <h1 class="text-center text-light">Productos</h1>
            <br>
            <div class="row">
                {{!-- Traemos los productos por el metodo each de handlebars --}}
                {{#each products}}
                <div class="col-md-4 mb-4 product-card">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">{{this.title}}</h5>
                            <p class="card-text">{{this.description}}</p>
                            <p class="card-text"><strong>Stock: </strong>{{this.stock}}</p>
                            <p class="card-text"><strong>Precio: ${{this.price}}</strong></p>
                            <p class="card-text">{{this.thumbnails}}</p>
                            <a href="#" class="btn btn-success">Agregar al carrito</a>
                            {{!-- <button class="btn btn-success" onclick="agregarAlCarrito('{{this._id}}')">Agregar al carrito</button> --}}
                            
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            
            {{!-- Botones para Paginate --}}
                <div class="botones-paginate">
                    <p>{{currentPage}} de {{totalPages}}</p>
                
                    {{#if hasPrevPage}}
                        <a href="/products?page={{prevPage}}">Anterior</a>
                    {{/if}}

                    {{#if hasNextPage}}
                        <a href="/products?page={{nextPage}}">Siguiente</a>
                    {{/if}}
                </div>
        </div>

        {{!-- Footer --}}
        <footer class="container-fluid mt-5 text-center custom-footer text-light py-4">
            <div class="col-md-8 mx-auto">
                <p class="h3">&copy; BiciCoder</p>
            </div>
        </footer>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>


